
.half {
    flex: 5;
    padding-left: 5%;
    padding-right: 5%;
}

.flex-container {
    display: flex;
    align-items: stretch;
}


.descriptionPane {
    
    min-width: 40%;
}

.titlePane {
    padding-right: 20%;
    min-width: 40%;
}

.giraffeLandingTitle {
    margin-top: 10%;
    font-size: 700%;
    color: #CED136;
    margin-bottom: 8%;
    
}
.divider {
    color: #DFDFDF;
}

.studyEffectively {
    margin-top: 10%;
    color: #DFDFDF;
    font-size: 500%;
}

.gradientColor {
    background: linear-gradient(to bottom right, #FBFF2C, #FFB800);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#uploadLink {
    text-decoration: none;
    color: inherit;
}

.landingDescription{
    color: #DFDFDF;
    font-size: 180%;
    
    text-align: right;
    margin-top: 20%;
}

.buttonContainer {
    text-align: center;
    margin-top: 20%;
}
.uploadButton {
    background-image: linear-gradient(to bottom right, #434343 100%, #434343 40%);
    font-size: 200%;
    border-radius: 50px;
    min-width: 70%;
    min-height: 25%;
    margin-left: 5%;
    padding: 3% 0%;
    filter: drop-shadow(8px 12px 10px rgba(255, 232, 30, .35));
    color: #FFFFFF;
    border-style: none;
    
}

.icon { 
    margin-right: 5%;
}

#fileInput {
    display: none;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #434343;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #FBFF2C;
    color: 000;
  }
  
  .modal-body {text-align: center; padding: 50px 16px;}
  
  .confButton {
    text-align: center;
    background-color: #CED136;
    font-size: 150%;
    border-radius: 50px;
    min-width: 50%;
    min-height: 25%;
    margin-left: 5%;
    padding: 3% 0%;
    color: #000000;
    border-style: none;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

